<nav class="navbar">
    <div class="nav-left"><img class="logo" src="assets/images/logo.png" alt="">
        <img >
        <ul class="navlogo">
            <li><img src="assets/images/notification.png"></li>
            <li><img src="assets/images/inbox.png"></li>
            <li><img src="assets/images/video.png"></li>
        </ul>
    </div>
    <div class="nav-right">
        <div class="search-box">
            <img src="assets/images/search.png" alt="">
            <input type="text" placeholder="Search">
        </div>
        <div class="profile-image online" onclick="UserSettingToggle()">
            <img src="assets/images/profile-pic.png" alt="">
        </div>

    </div>
    <div class="user-settings">
        <div class="profile-darkButton">
        <div class="user-profile">
            <img src="assets/images/profile-pic.png" alt="">
            <div>
                <p> Alex Carry</p>
                <a href="#">See your profile</a>
            </div>
        </div>
        <div id="dark-button" onclick="darkModeON()">
            <span></span>
        </div>
        </div>
        <hr>
        <div class="user-profile">
            <img src="assets/images/feedback.png" alt="">
            <div>
                <p> Give Feedback</p>
                <a href="#">Help us to improve</a>
            </div>
        </div>
        <hr>
        <div class="settings-links">
            <img src="assets/images/setting.png" alt="" class="settings-icon">
            <a href="#">Settings & Privary <img src="assets/images/arrow.png" alt=""></a>
        </div>

        <div class="settings-links">
            <img src="assets/images/help.png" alt="" class="settings-icon">
            <a href="#">Help & Support <img src="assets/images/arrow.png" alt=""></a>
        </div>

        <div class="settings-links">
            <img src="assets/images/display.png" alt="" class="settings-icon">
            <a href="#">Display & Accessibility <img src="assets/images/arrow.png" alt=""></a>
        </div>

        <div class="settings-links">
            <img src="assets/images/logout.png" alt="" class="settings-icon">
            <a href="#">Logout <img src="assets/images/arrow.png" alt=""></a>
        </div>

    </div>
</nav>