<!-- main-content------- -->

<div class="content-area">
    <div class="story-gallery">
        <div class="story story1">
            <img src="assets/images/upload.png" alt="">
            <p>Post Story</p>
        </div>
        <div class="story story2">
            <img src="assets/images/member-1.png" alt="">
            <p>Alison</p>
        </div>
        <div class="story story3">
            <img src="assets/images/member-2.png" alt="">
            <p>Jackson</p>
        </div>
        <div class="story story4">
            <img src="assets/images/member-3.png" alt="">
            <p>Samona</p>
        </div>
        <div class="story story5">
            <img src="assets/images/member-4.png" alt="">
            <p>John</p>
        </div>
    </div>

    <div class="write-post-container">
        <div class="user-profile">
            <img src="assets/images/profile-pic.png" alt="">
            <div>
                <p> Alex Carry</p>
                <small>Public <i class="fas fa-caret-down"></i></small>
            </div>
        </div>

        <div class="post-upload-textarea">
            <textarea name="" placeholder="What's on your mind, Alex?" id="" cols="30" rows="3"></textarea>
            <div class="add-post-links">
                <a href="#"><img src="assets/images/live-video.png" alt="">Live Video</a>
                <a href="#"><img src="assets/images/photo.png" alt="">Photo/Video</a>
                <a href="#"><img src="assets/images/feeling.png" alt="">Feeling Activity</a>
            </div>
        </div>
    </div>

    <div class="status-field-container write-post-container">
        <div class="user-profile-box">
            <div class="user-profile">
                <img src="assets/images/profile-pic.png" alt="">
                <div>
                    <p> Alex Carry</p>
                    <small>August 13 1999, 09.18 pm</small>
                </div>
            </div>
            <div>
                <a href="#"><i class="fas fa-ellipsis-v"></i></a>
            </div>
        </div>
        <div class="status-field">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolores praesentium dicta
                laborum nihil accusantium odit laboriosam, sed sit autem! <a
                    href="#">#This_Post_is_Better!!!!</a> </p>
            <img src="assets/images/feed-image-1.png" alt="">

        </div>
        <div class="post-reaction">
            <div class="activity-icons">
                <div><img src="assets/images/like-blue.png" alt="">120</div>
                <div><img src="assets/images/comments.png" alt="">52</div>
                <div><img src="assets/images/share.png" alt="">35</div>
            </div>
            <div class="post-profile-picture">
                <img src="assets/images/profile-pic.png " alt=""> <i class=" fas fa-caret-down"></i>
            </div>
        </div>
    </div>
    <div class="status-field-container write-post-container">
        <div class="user-profile-box">
            <div class="user-profile">
                <img src="assets/images/profile-pic.png" alt="">
                <div>
                    <p> Alex Carry</p>
                    <small>August 13 1999, 09.18 pm</small>
                </div>
            </div>
            <div>
                <a href="#"><i class="fas fa-ellipsis-v"></i></a>
            </div>
        </div>
        <div class="status-field">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolores praesentium dicta
                laborum nihil accusantium odit laboriosam, sed sit autem! <a
                    href="#">#This_Post_is_Bigger!!!!</a> </p>
            <img src="assets/images/feed-image-2.png" alt="">

        </div>
        <div class="post-reaction">
            <div class="activity-icons">
                <div><img src="assets/images/like-blue.png" alt="">120</div>
                <div><img src="assets/images/comments.png" alt="">52</div>
                <div><img src="assets/images/share.png" alt="">35</div>
            </div>
            <div class="post-profile-picture">
                <img src="assets/images/profile-pic.png " alt=""> <i class=" fas fa-caret-down"></i>
            </div>
        </div>
    </div>
    <div class="status-field-container write-post-container">
        <div class="user-profile-box">
            <div class="user-profile">
                <img src="assets/images/profile-pic.png" alt="">
                <div>
                    <p> Alex Carry</p>
                    <small>August 13 1999, 09.18 pm</small>
                </div>
            </div>
            <div>
                <a href="#"><i class="fas fa-ellipsis-v"></i></a>
            </div>
        </div>
        <div class="status-field">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolores praesentium dicta
                laborum nihil accusantium odit laboriosam, sed sit autem! <a
                    href="#">#This_Post_is_faster!!!!</a> </p>
            <img src="assets/images/feed-image-3.png" alt="">

        </div>
        <div class="post-reaction">
            <div class="activity-icons">
                <div><img src="assets/images/like-blue.png" alt="">120</div>
                <div><img src="assets/images/comments.png" alt="">52</div>
                <div><img src="assets/images/share.png" alt="">35</div>
            </div>
            <div class="post-profile-picture">
                <img src="assets/images/profile-pic.png " alt=""> <i class=" fas fa-caret-down"></i>
            </div>
        </div>
    </div>
    <div class="status-field-container write-post-container">
        <div class="user-profile-box">
            <div class="user-profile">
                <img src="assets/images/profile-pic.png" alt="">
                <div>
                    <p> Alex Carry</p>
                    <small>August 13 1999, 09.18 pm</small>
                </div>
            </div>
            <div>
                <a href="#"><i class="fas fa-ellipsis-v"></i></a>
            </div>
        </div>
        <div class="status-field">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolores praesentium dicta
                laborum nihil accusantium odit laboriosam, sed sit autem! <a
                    href="#">#This_Post_is_perfect!!!!</a> </p>
            <img src="assets/images/feed-image-4.png" alt="">

        </div>
        <div class="post-reaction">
            <div class="activity-icons">
                <div><img src="assets/images/like-blue.png" alt="">120</div>
                <div><img src="assets/images/comments.png" alt="">52</div>
                <div><img src="assets/images/share.png" alt="">35</div>
            </div>
            <div class="post-profile-picture">
                <img src="assets/images/profile-pic.png " alt=""> <i class=" fas fa-caret-down"></i>
            </div>
        </div>
    </div>
    <button type="button" class="btn-LoadMore" onclick="LoadMoreToggle()">Load More</button>
</div>
