<div class="right-sidebar">
    <div class="heading-link">
        <h4>Events</h4>
        <a href="">See All</a>
    </div>

    <div class="events">
        <div class="left-event">
            <h4>13</h4>
            <span>august</span>
        </div>
        <div class="right-event">
            <h4>Social Media</h4>
            <p> <i class="fas fa-map-marker-alt"></i> wisdom em Park</p>
            <a href="#">More Info</a>
        </div>
    </div>
    <div class="events">
        <div class="left-event">
            <h4>18</h4>
            <span>January</span>
        </div>
        <div class="right-event">
            <h4>Mobile Marketing</h4>
            <p><i class="fas fa-map-marker-alt"></i> wisdom em Park</p>
            <a href="#">More Info</a>
        </div>
    </div>

    <div class="heading-link">
        <h4>Advertisement</h4>
        <a href="">Close</a>
    </div>
    <div class="advertisement">
        <img src="assets/images/advertisement.png" class="advertisement-image" alt="">
    </div>

    <div class="heading-link">
        <h4>Conversation</h4>
        <a href="">Hide Chat</a>
    </div>

    <div class="online-list">
        <div class="online">
            <img src="assets/images/member-1.png" alt="">
        </div>
        <p>Alison Mina</p>
    </div>

    <div class="online-list">
        <div class="online">
            <img src="assets/images/member-2.png" alt="">
        </div>
        <p>Jackson Aston</p>
    </div>
    <div class="online-list">
        <div class="online">
            <img src="assets/images/member-3.png" alt="">
        </div>
        <p>Samona Rose</p>
    </div>
</div>