<div class="left-sidebar">
    <div class="important-links">
        <a href="#"><img src="assets/images/add-friends.png" alt="">Latest News</a>
        <a href="#"><img src="assets/images/friends.png" alt="">Friends</a>
        <a href="#"><img src="assets/images/group.png" alt="">Groups</a>
        <a href="#"><img src="assets/images/marketplace.png" alt="">marketplace</a>
        <a href="#"><img src="assets/images/watch.png" alt="">Watch</a>
        <a href="#">See More</a>
    </div>

    <div class="shortcut-links">
        <p>Your Shortcuts</p>
        <a href="#"> <img src="assets/images/shortcut-1.png" alt="">Web Developers</a>
        <a href="#"> <img src="assets/images/shortcut-2.png" alt="">Web Design Course</a>
        <a href="#"> <img src="assets/images/shortcut-3.png" alt="">Full Stack Development</a>
        <a href="#"> <img src="assets/images/shortcut-4.png" alt="">Website Experts</a>
    </div>
</div>
